@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
  background-color: #001328;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}